<ion-header>
  <ion-toolbar>
    <ion-title>Coupons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let coupon of coupons; let last = last" [ngClass]="{'margin-last': last}">
    <ion-img [src]="coupon.img" alt=""></ion-img>
    <ion-card-header>
      <ion-card-title>{{coupon.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>{{coupon.discount}} %</ion-label>
        <ion-button slot="end" (click)="coupon.active = !coupon.active">
          {{coupon.active ? 'Desactivar' : 'Activar'}}
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="goToCard()">
    <ion-fab-button>
      <ion-icon name="card-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
